*, *:before, *:after {
  box-sizing: border-box;
}

body { 
  background: var(--lavender-gradient);
  color: black;
  font-family: var(--font-mulish);
  font-size: var(--body-text-regular);
  font-weight: var(--body-text-regular);
}

.content {
  background-color: var(--impure-white);
  margin-top: 365px;
  padding-top: 20px;
  padding-bottom: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

p {
font-family: var(--font-mulish);
font-size: var(--body-text-regular);
font-weight: normal;
}

.bienvenue_openmineded {
  font-family: var(--font-mulish);
  font-size: var(--home-bienvenue);
  font-weight: 400;
  margin-bottom: 70px;
}

.chapo_text {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 81px;
  
}

.intro_home {
  font-family: var(--font-mulish);
  font-size: var(--home-site-description);
  font-weight: 200;
  font-style: italic;
}

h1 {
font-family: var(--font-inter);
font-size: var(--home-openmineded);
font-weight:500;
margin-top: 25px;
margin-bottom: 15px;
}

h2 {
font-family: var(--font-montserrat);
font-size: var(--h2-bold);
text-align: center;
margin-bottom: 30px;
margin-left: 10px;
margin-right: 10px;
}

h3 {
font-family: var(--font-montserrat);
font-size: var(--h3-bold);
text-align: center;
margin-bottom: 25px;
}

h4 {
font-family: 'mulish';
font-size: 13px;
font-weight: lighter;
}

h5 {
font-family: 'mulish';
font-weight: lighter;
font-size: 12px;
text-align: center;}

h6 {
text-align: center;
font-family: var(--font-mulish);
font-weight: lighter;
font-size: var(--body-text-light);
margin-top: 50px;
margin-bottom: 35px;
}


.footer_openmineded {
  font-family: var(--font-inter);
  font-size: var(--footer-openmineded);
}

figcaption {
font-family: var(--font-mulish);
font-weight: lighter;
text-align: center;
font-size: var(--legend);
margin-bottom: 50px;
}

.margin {
margin-left: 25px;
margin-right: 25px;
}

/* Style des textes */

.underline_italic {
text-decoration: underline;
font-style: italic;
}

.bold {
font-weight: 800;
}

/* annuler la mise en forme des liens */

a {
font-family: 'mulish';
text-decoration: none;
color: #000000;
}

ul {
list-style: none;
font-family: 'mulish';
}

/* Accueil */

.hero_accueil {
text-align: center;
}

.chapo_text {
text-align: center;
margin-bottom: 4rem;
}

.down {
display: block;
top: 650px;
position: absolute;
z-index: 55;
margin-left: 132px;

}

.down2 {
  display: block;
  top: 650px;
  margin:auto;
  
  }

.logo_home{
  margin-top: 134px;
  }
  

/* Mémoire sémantique */

.separation {
display: flex;
align-items: center;
justify-content: space-evenly;
gap: 23px;
}

.ligne-title {
height: 2px;
width: 50%;
background-color: var(--impure-black);
}


/* Articles */

.proposition_article {
background-color: var(--lavender-blue);
padding-right: 20px;
padding-left: 20px;
border-radius: 20px;
box-shadow: var(--shadow-button-next-wm);
border: none;
margin-left: 87px;
}

.btn-article {
  font-family: var(--font-montserrat);
  font-size: var(--btn-text);
  font-weight: 700;
}

.intro-article {
font-family: var(--font-mulish);
font-size: var(--intro-light-italic);
font-weight: 300;
font-style: italic;

}

.two-lines-title {
  margin-top: 140px;
}

.one-line-title {
  margin-top: 160px;
}

.bubble {
  position: absolute;
  z-index: -1;
}

/* Mémoire sémantique */

.definiton {
  margin-bottom: 30px;
  margin-right: 40px;
}

.title_others_pages {
  margin-top: 100px;
}