/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */

img {
  max-width: 100%;
  height: auto;

}

figure {
margin: 0;
}

figcaption {
font-size: var(--text-sm);
color: var(--gray-600);
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* images des articles */

.illustration_article {
display: block;
margin: auto;
margin-top: 50px;
margin-bottom: 10px;
}

/* Hero images des articles */

.img_article {
  z-index: -5;
  top: 0px;
  position: absolute;
}

/* illustration dans mémoire sémantique */

.illustration_memoire {
display: block;
margin: auto;
margin-bottom: 48px;
}