:root {

/* Color styles */
--lavender-gradient: linear-gradient(to bottom, #D2C6FF, white);
--lavender-blue: rgba(210, 198, 255, 1);
--impure-black: rgba(5, 5, 5, 1);
--impure-white: rgba(254, 254, 254, 1);
--violet-dark: rgba(47, 36, 88, 1);
--violet-bouton-dark: rgba(91, 73, 161, 1);

/* Text-size styles */
--h2-bold: 25px;
--h3-bold: 20px;
--btn-next: 20px;
--body-text-regular: 16px;
--body-text-light: 16px;
--intro-light-italic: 14px;
--footer-createur: 13px;
--footer-legal: 12px;
--footer-droits: 10px;
--legend: 14px;
--home-site-description: 16px;
--liste-article-caroussel: 14px;
--hard-word: 16px;
--body-citations: 16px;
--menu-btn: 12px;
--mosquito-title: 18px;
--footer-openmineded: 15px;
--home-openmineded: 40px;
--home-bienvenue: 25px;
--form-obligatoire: 12px;
--form-title: 14px;
--glossary-name: 16px;
--glossary-def: 16px;
--body-text-bold: 16px;

/* Polices de caractère */
--font-inter: 'Inter';
--font-mulish: 'mulish';
--font-montserrat: 'montserrat';

/* Effect styles */
--shadow-btn-next-dm:  0px 10px 15px rgba(210, 198, 255, 1);
--menu-shadow:  0px 10px 20px rgba(0, 0, 0, 0.4);
--carousel-articles-shadow:  0px 3px 10px rgba(0, 0, 0, 0.5);
--shadow-button-next-wm:  0px 5px 69px rgba(29, 38, 57, 0.44);
--shadow-btn-wm-lang:  0px 0px 20px rgba(91, 73, 161, 1);
--shadow-btn-dm-lang:  0px 0px 20px rgba(210, 198, 255, 1);


/* Espaces */
--space1x: 8px;
--space2x: 16px;
--space3x: 24px;
--space4x: 48px;
--space5x: 80px;

--space1y: 8px;
--space2y: 16px;
--space3y: 26px;
--space4y: 48px;
--space5y: 80px;
}