.container {
  display: block;
  margin-top: 100px ;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 123px;
  background-color: #D2C6FF;
  height: 375px;
  width: 375px;

}

.logo_footer {
  height: 32px;
  width: 32px;
  margin-bottom: 1rem;
}

.footer_start {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.footer_start2 {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.footer_info {
  display: flex;
  align-items: center;
  gap: 49px;
  margin-bottom: 25px;
}

.profil {
  content: "";
  display: flex;
}

.icon_profil {
  width: 24px;
  height: 24px;
}

.mail {
  content: "";
  display: flex;
  width: 24px;
  height: 22px;
}

.icon_profil {
  width: 24px;
  height: 22px;
}

.ligne_small {
  height: 1px;
  width: 125px;
  background-color: black;
}

.ligne_tall {
  height: 1px;
  width: 300px;
  background-color: black;
}

.lien_site {
  text-align: center;
  font-size: var(--footer-droits);
  font-family: var(--font-montserrat);
  align-items: center;
}

.item_text_profil {
  margin-left: 12px ;
  font-family: 'mulish';
  font-size: var(--footer-createur);
  width: 87px;
}

.item_text_mail {
  margin-left: 12px ;
  font-family: 'mulish';
  font-size: var(--footer-createur);
  width: 87px;
}