.nav-toggle {
  border: none;
  transition: all .3s ease-in-out;
  }

.menu {
background-color: #D2C6FF;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
overflow-x: hidden;
text-align: center;
height: 100vh;
font-size: 20px;
position: relative;


}

.menu ul {
  list-style-type: none;

  display: flex;
  gap: 7rem;
}


.menu ul :first-child {
padding-top: 30px;
font-family: 'Mulish';
font-size: 19.5px;
}


.menu p:last-of-type {
background: center / contain no-repeat url("https://svgsilh.com/png-512/306433.png");
text-indent: -9999%;
}


.menu {
visibility: hidden;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;

}

.menu-open .menu {
visibility: visible;
transform: translateX(0);
height: 10rem;
top: 27rem;
background-color: #D2C6FF;
border-radius: 2rem;
margin: 2%;
}

