.nav-toggle {
  border: none;
  transition: all .3s ease-in-out;
  }

.menu {
background-color: var(--lavender-blue);
display: flex;
text-align: center;
visibility: hidden;
position: fixed;
top: 0;
left: 0;
right: 0;
}

.menu-open .menu {
visibility: visible;
transform: translateX(0);
height: 160px;
top: 510px;
background-color: #D2C6FF;
border-radius: 20px;
margin: 10px;
}

.bg-carousel {
  background-color: white;
  border-radius: 15px;
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;

}

.img-caroussel-menu {
  margin-top: 15px;
  width: 100px;
  box-shadow: var(--carousel-articles-shadow);
}

.name-carousel-menu {
margin-bottom: 20px;
}