.name {
  font-weight: lighter;
  font-size: 12px;
  margin-left: 15%;
}


.navigation {
  background-color: #D2C6FF;
  border-radius: 2rem;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 712px;
  margin: 0.5rem;
  height: 90px;
}


.navigation a {
  display: block;
  text-decoration: none;
  font-size: 13px;
}


.bar-menu {
  display: flex;
  padding: 2%;
  gap: 3%;
  margin-top: 1%;
}

.icon-home {
  width: 20rem;
}
