.name {
  font-weight: lighter;
  font-size: 12px;
  margin-left: 15%;
}


.navigation {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 50;
  background-color: var(--lavender-blue);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: var(--menu-shadow);
  margin-left: 10px;
  top: 712px;
  height: 90px;
  width: 355px;

}


.navigation a {
  display: block;
  text-decoration: none;
  font-size: 13px;
}


.bar-menu {
 margin-left: -40px;
  padding-top: 11px;
  width: 355px;
  display: flex;
  gap: 12px;
  flex-direction: row;
}

.btn-menu

.icon-home {
  width: 0px;
}
